.box {
  display: block;
  width: 80px;
      height: 80px;
      box-shadow: 15px 15px 0 0 #716565;
  float: left;

}

h2 {
  text-align: center;
}

@media (min-width: 576px) {
  ...
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ...
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ...
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...
}
